.exerciseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.exerciseBox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #17223b;
    width:98%;
    padding: 20px;
    h2 {
        text-align: center;
    }
}

.exerciseTitle {
    text-align: center;
    color: antiquewhite;
}

.exerciseDesc {
    text-align: center;
    color: antiquewhite;
    font-size: large;
}

.exerciseSets {
    text-align: center;
    color: antiquewhite;
}

.setBox {
    border: 1px solid black;
    background-color: #000000;
    border: 4px solid antiquewhite;
    margin: 10px;
    padding: 10px;
}

.setFlex {
    display: flex;
    flex-direction: row;
}

.setDesc {
    flex-grow: 1;
    width: auto;
    padding: 5px;
    margin-right: 5px;
    border-radius: 25px;
  border: 4px solid #a8a6be;
  color: antiquewhite;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-family: fantasy;
  font-size: medium;
}

.setWeight {
    flex-grow: 0;
    font-family: fantasy;
    border: 4px solid rgb(236, 236, 236);
    padding: 3px;
    border-radius: 25px;
    color: antiquewhite;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.difficultyInput {
    text-align: center;
    display: block;
    width: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    border-radius: 25px;
  border: 4px solid #a8a6be;
    padding: 10px;
    background-color : #17223b;
    font-family : fantasy;
    padding: 10px; text-align: center;
    font-size: 1.2em;
    text-decoration : none;
    color : antiquewhite;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}