.exerciseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.exerciseBox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    padding: 20px;
    h2 {
        text-align: center;
    }
}

.exerciseTitle {
    text-align: center;
}

.exerciseDesc {
    text-align: center;
}

.exerciseSets {
    text-align: center;
}

.setBox {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.setFlex {
    display: flex;
    flex-direction: row;
}

.setDesc {
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
}

.setWeight {
    flex-grow: 0;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}

.difficultyInput {
    display: block;
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
}