.exercisesContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.exerciseBox {
    flex-grow: 1;
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
}

.setsBox {
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}