.workoutsContainer {
    border: 3px solid blue;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.workoutBox {
    width: 200px;
    border: 1px solid black;
    margin: 5px;
}