.modal {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.modalBox {
    z-index: 10;
    position: relative;
    background-color: white;
    top: 15%;
    left: 35%;
    width: 30%;
    height: 30vh;
    padding: 10px;
}

.modalForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refWeightInput {
    width: 50%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.difficultyInput {
    display: block;
    width: 50%;
    margin-bottom: 15px;
}

.startButton {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.workoutTitle {
    text-align: center;
}

.countdownBox {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdownField {
    text-align: center;
    width: 200px;
    padding: 20px;
    font-weight: bold;
}

.nextButton {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
