.modal {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.modalBox {
    z-index: 10;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40vh;
    padding: 20px;
    font-family: 'Heron Sans', sans-serif;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.modalForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.refWeightInput {
    width: 95%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    :hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    :focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }

}

.startButton {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: whitesmoke;
    }
    border-radius: 5px;
    
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 22px;
                height: 50px;
                font-weight: 400;
                color: antiquewhite;
                text-align: center;
                line-height: normal;
                background: #17223b;
                border-radius: 50px;
                
}

.workoutTitle {
    text-align: center;
}

.countdownBox {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdownField {
    text-align: center;
    width: 200px;
    padding: 20px;
    font-weight: bold;
}

.nextButton {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 22px;
                height: 50px;
                font-weight: 400;
                color: antiquewhite;
                text-align: center;
                line-height: normal;
                background: #17223b;
                border-radius: 50px;
}

.hpBarBox {
    position: relative;
    width: 90%;
    height: 30px;
    margin: 20px auto;
    
    p {
        position: absolute;
        width: 100%;
        margin: 0;
        z-index: 2;
        text-align: center;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.418);
    }
}

.hpBar {
    position: absolute;
    z-index: 1;
    height: 28px;
    left: 0;
    top: 0;
    background-color: red;
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(250, 38, 38) 0%, rgb(247, 37, 37) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
    font-family: fantasy;

}